<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      <h3>Register</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="UserName">
            <span *ngIf="!UserName?.valid && UserName?.touched" class="error">
              Please Enter Your UserName
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="Email">
          <span *ngIf="!Email?.valid && Email?.touched" class="error">
            <span *ngIf="Email?.hasError('required')"> Please Enter Your Email</span>
            <span *ngIf="Email?.hasError('email')"> Please Enter A Valid Email</span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <span *ngIf="!Password?.valid && Password?.touched" class="error">
            <span *ngIf="Password?.errors?.['required']"> Please Enter A Password</span>
            <span *ngIf="Password?.errors?.['minlength']"> Your Password Must be 8 characters at least</span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <span *ngIf="!ConfirmPassword?.valid && ConfirmPassword?.touched" class="error">
            <span *ngIf="ConfirmPassword?.errors?.['required']"> Please Enter A Password</span>
          </span>
          <span *ngIf="registrationForm?.errors?.['NotMatched'] && ConfirmPassword?.valid" class="error" >
            Your Password is not matched
          </span>

        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="Mobile" >
          <span *ngIf="!Mobile?.valid && Mobile?.touched" class="error">
            <span *ngIf="Mobile?.errors?.['required']"> Please Enter A Mobile Phone</span>
            <span *ngIf="Mobile?.errors?.['maxlength']"> Your Mobile Phone Must be 10 numbers </span>
            <span *ngIf="Mobile?.errors?.['minlength']"> Your Mobile Phone Must be 10 numbers </span>

          </span>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary m-2">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>

